.containerCorona{
height: 100%;
width: 100vw;

}
.containerChart{
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    }
.chart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
    font-size: 0.5rem;
}
.item{
    display: flex;
    flex-direction: column;
    /* justify-items: end; */
    justify-content: flex-end;
}
.cCol{
    background-color: red;
/*     margin-left: 3px;
    margin-right: 3px; */
    justify-items: end;
}
.chartTitle{
    text-align: center;
}