/* @import url('https://fonts.googleapis.com/css?family=Tangerine'); */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /*  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../Images/background.jpg");
    background-size: cover;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    
}
.noteBoard{
    
    width: 100%;
    display: grid;
    grid-template-columns:  1fr;
    margin-top: 10px;
    justify-content: center;

}

.container__input{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 2.5ch 3.5ch 2.5ch 3.5ch 2.5ch 3ch 2.5ch 5ch 3.5ch 1fr;
    grid-gap: 0;
    
    font-size: 0.7rem;
   
   
}
#boardName , #noteDate , #noteTitle, #noteMessage{
    grid-column: 2/3;
}
#boardNameLabel , #noteDateLabel , #noteTitleLabel, #noteMessageLabel{
    grid-column: 2/3;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    grid-column: 2/3;
}
.notesTableView{
   grid-column: 2/3;
   display: block;
   width: 100%;
   background-color: aliceblue;
}
.notesNoteView{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 }
.notesTable{
    background-color: aliceblue;
    width: 100%;
}
.note{
    display: grid;
    grid-template-areas: 
    ". close . ."
    ". title title ."
    ". date date ."
    ". message message ."
    ;
    grid-template-columns: 3ch 3ch 1fr 3ch;
}

.note{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
    border: 2px solid red;
    
    background-color: aquamarine;
    background-image: url("../Images/note.png");
    background-size: cover;
    margin: 3px;
    height: 15vw;
    width: 15vw;
    font-size: 0.6rem
}

.gNoteClose{
    grid-area: close;
}
.gNoteTitle{
    grid-area: title;
}
.gNoteDate{
    grid-area: date;
}
gNoteMessage{
    grid-area: message;
}
.note:hover{
    height: 50vw;
    width: 50vw;
    transition: all 0.5s;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.notePassedDate{
    opacity: 0.5;
}
.noteTitle{
    color: rgb(61, 61, 197);
    text-decoration: underline;
}
.noteDate{
    color: rgb(121, 121, 226);
    
}
.noteMessage{
    color: rgb(160, 160, 223);
    
}

.close {
    position: absolute;
    left: calc(50% - 16px);
    top: 4px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
    border: 2px solid black;
  }
  .close:before, .close:after {
    position: absolute;
    left: 14px;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  