/* @import url('https://fonts.googleapis.com/css?family=Tangerine'); */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --note-hover-factor:2;
    --note-height: 15vh;
    --note-width: 15vh;
    --tablet-width: 320px;
    --desktop-width: 1224px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.noteBoardContainer{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../Images/background.jpg");
    background-size: cover;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.noteBoard{
    
    width: 100%;
    
    margin-top: 10px;
    justify-content: center;
    overflow: auto;
}

.container__input{
    
    width: 100%;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 2.5ch 3.5ch 2.5ch 3.5ch 2.5ch 3ch 2.5ch 5ch 3.5ch 10ch 1fr;
    grid-gap: 0;
    
    font-size: 0.7rem;
   
   
}

#boardName , #noteDate , #noteTitle, #noteMessage{
    grid-column: 2/3;
}
#boardNameLabel{
    grid-row: 1 / 2;
}
#boardName{
    grid-row: 2 /3;
}
#noteDateLabel{
    grid-row: 3 / 4;
}
#noteDate{
    grid-row: 4 / 5;
}
#noteTitleLabel{
    grid-row: 5 / 6;
}
#noteTitle{
    grid-row: 6 / 7;
}

#noteMessageLabel{
    display: flex;
    grid-row: 7 / 8;
}
#noteMessage{
    grid-row: 8 / 9;
}
.btn{
    grid-column: 2/3;
    grid-row: 9 / 10;
}
.noteFilterToday{
    grid-column: 2/3;
    grid-row: 10 / 11;
    display: inline-flex;
    
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
}
#boardNameLabel , #noteDateLabel , #noteTitleLabel, #noteMessageLabel{
    grid-column: 2/3;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notesTableView{
   grid-column: 2/3;
   display: block;
   width: 100%;
   background-color: aliceblue;
}
.centernotesNoteView{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 }
.notesTable{
    background-color: aliceblue;
    width: 100%;
}
.note{
    display: grid;
    grid-template-areas:     ". close . ."     ". date date ." ". title title ."       ". message message ."    ;
    grid-template-columns: 1ch 3ch 1fr 1ch;
    grid-template-rows: 10% 3ch auto 1fr;
    border: 2px solid red;
    grid-gap: 0.5ch;
    background-image: url("../Images/note.png");
    background-size: cover;
    margin: 3px;
    height: var(--note-height);
    width: var(--note-width);
    font-size: 0.6rem;
    border-radius: 3% ;
    -webkit-border-radius: 3% ;
    -moz-border-radius: 3% ;
    -ms-border-radius: 3% ;
    -o-border-radius: 3% ;
}

/* .note{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
    border: 2px solid red;
    
    background-color: aquamarine;
    background-image: url("../Images/note.png");
    background-size: cover;
    margin: 3px;
    height: 15vw;
    width: 15vw;
    font-size: 0.6rem
} */

.gNoteClose{
    grid-area: close;
    width: 2ch;
    height: 2ch;
    opacity: 0.3;
    justify-self: left;
    align-self: flex-start;
    padding-top: 2px;
}
.clgNoteClose:hover {
    opacity: 1;
    border: 2px solid black;
  }

.gNoteTitle{
    grid-area: title;
    color: black;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
}
.gNoteDate{
    
    grid-area: date;
    color: gray;
    text-align: center;
    background-color: yellowgreen;
    
    
}
.gNoteMessage{
    grid-area: message;
    font-size: 0.8rem;
    color: rgb(177, 15, 15);
    
}
.note:hover{
    height: calc(var(--note-height ) * var(--note-hover-factor));
    width: calc(var(--note-width ) * var(--note-hover-factor));
    transition: all 0.5s;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    grid-template-rows: 6ch 3ch auto 1fr;
}
.notePassedDate{
    opacity: 0.5;
}
.noteTitle{
    color: rgb(61, 61, 197);
    text-decoration: underline;
}
.noteDate{
    color: rgb(121, 121, 226);
    
}
.noteMessage{
    color: rgb(160, 160, 223);
    
}

.close {
    position: absolute;
    left: calc(50% - 16px);
    top: 4px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
    border: 2px solid black;
  }
  .close:before, .close:after {
    position: absolute;
    left: 14px;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .hide{
      display: none;
  }
  .leftnotesNoteView{
    display: flex;
    overflow-y: auto;
}
.rightnotesNoteView{
    display: flex;
    overflow-y: auto;
}
.centernotesNoteView{
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: center;
    
    margin: auto;
 }
  @media screen and (min-width:320px){
    .noteBoard{
    
        width: 100%;
        display: grid;
        grid-template-areas: 
        "left inputData right"
        "left center right"
        ;
        grid-template-columns:  1fr 2fr 1fr;
        grid-template-rows: auto auto;
        margin-top: 10px;
        
    
    }

     .container__input{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 2.5ch 3.5ch 2.5ch 3.5ch 2.5ch 3ch 2.5ch minmax(5ch,max-content) 3.5ch auto 1fr;
        grid-gap: 0;
        
        font-size: 0.7rem;
        grid-area: inputData;
       
    }
    .leftnotesNoteView{
        height: 100%;
        grid-area: left;
        overflow-y: auto;
    }
    .rightnotesNoteView{
        height: 100%;
        grid-area: right;
        overflow-y: auto;
    }
    .centernotesNoteView{
        height: 100%;
        width: 95%;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-area: center;
        
        margin: auto;
     }
  }
  textarea[autoresize] {
    display: block;
   
    overflow: hidden;
    resize: none;
  }
  