.main__menu_cards-img{
     display: flex;
     justify-content: center;
    // width: 20%;
    background-color: aliceblue;
   width:100px;
}
// .card-img-top{
//     width: 50px;
//     text-align: center;
// }